<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Simple login form</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <div class="login">
      <h1 class="login-heading">
      <strong>Welcome.</strong> Please login.</h1>
      <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" required="required" class="input-txt" id="user-input" />
        <input type="password" name="password" placeholder="Password" required="required" class="input-txt" id="pass-input" />
        <div class="login-footer">
          <a href="#" class="lnk">
              <span class="icon icon--min">ಠ╭╮ಠ</span>
              I've forgotten something
            </a>
          <button>Submit</button>

        </div>
      </form>
    </div>
  </div>

</body>

</html>
